h1 {
		font-size : 12px;
        color : dodgerblue;
   }
        
body {
        background-color : yellow;
     }

/*
	선택자 
	태그 선택자) - p,div,span,table...
	클래ㄹ 선택자) - 
	아이디 선택자) 
	태그와 함께쓰는 선택자)
	
*/
