/*
	마우스 오버 이펙트 가상(hover)클래스 와 트랜지션 (transition)

	hover : 마우스 올리거나 떼낼 때의 가상 클래스
	transition : 마우스 이펙트 중 하나, 
	★ 단 이 트랜지션 속성은, hover가 아닌 곳에 기입해야 
	   마우스를 올릴 때와 빠질 때 모두 적용되기 때문이다.

*/

body {
	background-color: white;
	color :#333;
}

a { /* a태그의 최초의 상태 */
	color :#333;
	text-decoration: none;
	transition: 1s; /*hover에 넣게 되면 넣을때는 작동 하나, 뺄뗀 작동안함 */
}

a:hover{ /* 띄어쓰기 조심 - 발동 안됨! */
	color:aqua;
	text-decoration: underline;
}