/*

*/

/*
	CSS 박스모델 (width , height , padding , margin)

	border - 박스가 하나 존재 시

	★★ padding - border '안' 의 공간 여유

	★★ margin - border '밖' 의 공간 여유 

	단 - top , bottom , left , right 값 줄수 있음

	속성값이 하나일때는 전부 균등한 값으로 ★

	★이것도 마찬가지로 - 상/우/하/좌★

	margin/top : 10px -> (top,bottom,left,right 전부 10px) - 상/우/하/좌
	margin/top : 10px 20px -> (10px - top,bottom, 20px - left,right) - 상/하
	margin/top : 10px 20px 30px -> top - 10px, 20px - left,right, bottom - 30px) - 
	margin/top : 10px 20px 30px 40px-> top - 10px, right - 20px,  bottom - 30px , left - 40px) -  상/우/하/좌 

*/

/*
.box {
	border: 3px solid red;
	width: 400px;
	height: 400px;
	margin : 100px;
	padding: 100px;
}
*/

h1.heading {
	border:3px solid red;
	width : 300px;
	text-align: center;
	padding : 50px 100px 200px 300px;
	
}